<p id="notice"><%= notice %></p>

<p>
  <b>User ID:</b>
  <%= @post.user_id %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>


<%= link_to 'Edit', edit_post_path(@post), :remote => true %> |
<%= link_to 'Back', posts_path, :remote => true %>
